<div class="container">
<div class="box">
    <form>
        <span class="text-center">Registro de datos Personales</span>
    <div class="input-container">
        <input type="text" [(ngModel)]="firstname" placeholder="Rita" name="firstname">
        <label>Nombre</label>		
    </div>
    <div class="input-container">		
        <input type="text" [(ngModel)]="lastname" placeholder="Sanchez Conejo" name="lastname">
        <label>Apellido</label>
    </div>
    <div class="input-container">		
        <input [(ngModel)]="email" type="email" placeholder="ejemplo@email.com" name="email">
        <label>Email</label>
    </div>
    <div class="input-container">		
        <input [(ngModel)]="pwd" type="password" placeholder="contraseña" name="password">
        <label>Contraseña</label>
    </div>
    <div class="input-container">		
        <input [(ngModel)]="address" type="text" placeholder="c/ilusión nº2" name="address">
        <label>Dirección</label>
    </div> 
    <div class="input-container">		
        <input [(ngModel)]="city"  type="text" placeholder="Madrid" name="city">
        <label>Ciudad</label>
    </div>
    <div class="input-container">		
        <input type="number" [(ngModel)]="phone" placeholder="671122006" name="phone">
        <label>Teléfono</label>
    </div>
    <div class="input-container">		
        <input type="text" [(ngModel)]="cp" placeholder="28002" name="cp">
        <label>Código postal</label>
    </div>
    <button type="button" class="btn"(click)="registrar()">Regístrate</button>
    </form>	
    </div>
</div>