
<div class="perfil">
    <div>
        <h2>Datos de tu perfil</h2>
    </div>
  <div>
   <div>
  <legend>
    <p for="">Nombre:</p>
    <label class="form-control" for="">{{user.firstname}}</label>
  </legend>

<legend>
    <p for="">Apellido:</p>
    <label class="form-control" for="">{{user.lastname}}</label>
</legend>

<legend>
    <p for="">Email:</p>
    <label class="form-control" for="">{{user.email}}</label>
</legend>

<legend>
    <p for="">Teléfono:</p>
    <label class="form-control" for="">{{user.phone}}</label>
</legend>
<button>Editar</button>
<button>Borrar</button>
   </div>
  </div>
</div>