
<div class="perfil">
<div class="box">
	<form>
		<span class="text-center">Datos de tu perfil</span>
	<div class="input-container">
		<input type="text" [(ngModel)]="user.firstname">
		<label>Nombre</label>		
	</div>
	<div class="input-container">		
		<input type="text" [(ngModel)]="user.lastname">
		<label>Apellido</label>
	</div>
  <div class="input-container">		
		<input type="text" [(ngModel)]="user.email">
		<label>Email</label>
	</div>
  <div class="input-container">		
    <input type="text" [(ngModel)]="user.phone">
		<label>Teléfono</label>
	</div>
		<button type="button" class="btn"(click)="editar()">Editar</button>
</form>	
</div>
</div>