<!-- <div class="formulario">
  <h3>Donuts</h3>
<form [formGroup]="donutsForm" (ngSubmit)="onSubmit()">
  <input formControlName="name" placeholder="Nombre de la rosquilla"/>
  <input formControlName="price" placeholder="8.00"/>
  <input formControlName="piece" placeholder="unidad"/>
  <input formControlName="image" placeholder="image"/>
<button type="submit">Añadir</button>
</form>
<div>
  <h5>{{newDonuts.name}}</h5>
  <p>{{newDonuts.price}}</p>
  <p>{{newDonuts.piece}}</p>
  <img src="{{newDonuts.image}}" alt="">
</div>
</div> -->
<div class="formulario">
<div class="box">
	<form [formGroup]="donutsForm" (ngSubmit)="onSubmit()">
		<span class="text-center">Donuts</span>
	<div class="input-container">
		<input formControlName="name"/>
		<label>Nombre de la rosquilla</label>		
	</div>
	<div class="input-container">		
		<input formControlName="price"/>
		<label>Precio</label>
	</div>
  <div class="input-container">		
		<input formControlName="piece"/>
		<label>Unidad</label>
	</div>
  <div class="input-container">		
		<input formControlName="image"/>
		<label>Fotografía</label>
	</div>
		<button type="submit"class="btn">Añadir</button>
</form>	
</div>
</div>