<div>
    <header>
    <h1> Tartas artesanales hechas con amor</h1>
    <h2>Dulces para todos</h2>
    <button class="btn">Comprar</button>
    </header>
    <h2>PASTELERÍA ARTESANA</h2>
    <h4>¿Quiénes Somos?</h4>
    <h5 class="home__h">Somos Ana y Luz, unas apasionadas por la cocina que tras más de 15 años trabajando en multinacionales dentro y fuera de España, 
        decidimos cambiar el aire acondicionado de la oficina por el horno de mi cocina. Nací en Novo Hamburgo, soy nieta de alemanes, 
        me crie en Brasil y en Bel… y en 2007 hice de Madrid mi hogar. Ese carácter multicultural, 
        inquieto y divertido es el que intento imprimir en mis postres. Sweet Time nace en 2014, y en 2016 abrimos nuestro obrador en Lavapiés.
        Nos dedicamos a preparar de forma 100% artesanal las más deliciosas tartas, bizcochos, brownies, cheesecakes, galletas, magdalenas 
        y un sin fin de recetas dulces, ofreciendo también opciones veganas, sin gluten y sin azúcar. 
        Servimos a restaurantes, cafés de especialidad y heladerías, así como también a cualquiera que se pase por allí buscando llevarse 
        un trozo de felicidad a casa o encargar esa tarta a domicilio que nunca debe faltar para celebrar los momentos especiales.
    </h5>
    <h5>¡Ven a merendar en nuestra tienda! C/alegria de la huerta 15, Madrid</h5>
    </div>
   