.cuerpo{
	background-image: url("https://images.pexels.com/photos/4110100/pexels-photo-4110100.jpeg?");
	background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
	min-height:100vh;
	font-family: 'Noto Sans', sans-serif;
}
.text-center{
	color: black;	
	text-transform:uppercase;
    font-size: 23px;
    display: flex;
    text-align: center;
    position:absolute;
	left:40%;
	top:70%;
}